 .clearfix:after {visibility: hidden; display: block; font-size: 0; content:''; clear: both; height: 0; } 
 * {
     box-sizing: border-box;
 }

 img {
     display: block;
 }
#wethenorth {
    max-width: 1000px;
    width:100%;
    margin:0 auto;
}
#wethenorth h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
#wethenorth header img {
    max-width: 1000px;
    width:100%;
}
#wethenorth .north-rap {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    display: flex;
    margin-top:40px;
    justify-content: space-evenly;
    flex-wrap: nowrap;
border-bottom:1px solid #cecece;
padding-bottom:60px;
}
#wethenorth .north-rap img {
    border:1px solid #cecece;
    width:100%;
    max-width:400px;
    
}
#wethenorth .north-rap img:first-of-type{
    margin-bottom:20px;
}
#wethenorth .north-rap p {
    margin:0;
    line-height: 1.4;
}

#wethenorth .mt-north img {
    max-width:600px;
    width:100%;
    margin:60px auto;
    
}

#wethenorth .cta {
    background: #bf0000;
    color:white;
    border:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:20px;
    font-size: 16px;
    cursor: pointer;
    max-width: 200px;
    width:100%;
    margin: 40px auto;
    text-align: center;
}

#wethenorth .cta a {
    color:white;
    text-decoration: none;
    /* padding:10px; */
}

#wethenorth .cta:hover {
    background:white;
    border:4px solid #bf0000;
}
#wethenorth .cta:hover a {
    color:#bf0000;
}
@media (max-width:880px) {
    #wethenorth .north-rap {
        flex-direction: column;
        align-items: center;
    }

    #wethenorth .the-rap {
        margin-top:40px;
        text-align: center;
        padding:0 20px;
    }
}
